div {
	padding-top: 10px;
	padding-bottom: 15px;
}
body > div, form, header{
	text-align: center;
	border: solid;
	border-top: none;
    border-radius: 10px;
}
#head {
	font: 28px sans-serif;
	border-top: solid;
}
.inline {
	display: inline-block;
}
input[type="submit"]{
	margin: 5px;
}
.result_table {
  width: 100%;
  text-align: left
}